node_modules
npm-debug.log
frontend/build
frontend/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
.env
pip-log.txt
.tox
.coverage
.cache
.pytest_cache
.git
.gitignore
README.md
.DS_Store
*.log